.mainbody {
  background-color: gray;
  margin-left: 15%;
  display: flex;
  flex-flow: column;
  height: 100%;
}

  .bar:hover {
    fill: #2f5491;
  }

  .bar{
  	
  }
#svgcontainer{
	display: flex;
	flex-direction: row;
	padding-right: 5%;
}

.sidebarbutton{
	width:100%;
}

.sidebara {
	display:block;
	white-space: normal;
	padding: 0;
}

.w3-bar-item w3-button{
	padding: 0;
}

h1{
	margin: 0;
}

.skilltable{
	border-collapse: collapse;
	width: 100%;
}

.borderrow{
	border: thin solid black;
}

.individual{
	width: 50%;
}

.w3-sidebar{
	border-right: black thin;
	background-color: #3b3a3c;
}

#apptitle{
	background-color: #3b3a3c;
	color: darkviolet;
	font-weight: bold;
	padding: 20px;
	text-align: center;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

}

#filler {
  background-color: #DDDDDD;
  flex-grow : 1;
}

.personcontainer{
	display: flex;
	flex-direction: column;
	height: 600px;
}

.statlist {
	width: 45%;
	text-align: center;
}

.info {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	height: 300px;
}

.generalinfo {
	display: flex;
	flex-direction: row;
}

.hobbies {
	width: 65%;
}

.major {
	width: 35%;
}

.stats {
	display: flex;
	flex-direction: row;
}

ul {
	margin: 0;
}

#team {
	margin-left: 15%;
}

#teamtitle {
	font-weight: 400;
	font-size: 24px;
	border-top: black solid;
}

#membercontainer {
	display: flex;
	flex-direction: row;
}

#teammembers {
	width: 25%;
}